.photos.svelte-q0ksxw{display:flex;max-width:90vw}.photos.svelte-q0ksxw{width:100%;overflow:hidden;align-items:center;justify-content:center}.image-wrapper.svelte-q0ksxw img:where(.svelte-q0ksxw){width:100%;flex:1;margin:10px}
